{% extends 'base.html.twig' %}

{% block title %}Гостевая книга для конференций{% endblock %}

{% block body %}
    <h2>Дайте свой отзыв!</h2>

    {% for conference in conferences %}
        <h4>{{ conference }}</h4>
        <p>
            <a href="{{ path('conference', { id:conference.id }) }}">Просмотр</a>
    {% endfor %}
{% endblock %}
